@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans:wght@400;600&display=swap');

/* This CSS starts with mobile version. The @media querys is for tablet and desktop! */

:root {
  --primary-color: #F8F3EF;
  --secondary-color: #511624;
  --tertiary-color: #A54B25;
  --accent-color: #6A8FB1;
}

h1 {
  font-family: 'Marcellus', serif;
}

p {
  font-family: 'Open Sans', sans-serif
}

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation for mobile goes here */

.navigation {
  background: var(--secondary-color);
  text-align: center;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navigation a {
  color: var(--primary-color);
  text-decoration: none;
}

.navigation a:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span {
  color: var(--primary-color);
  font-size: 2em;
}

.nav-toggle-label span:hover {
  color: var(--accent-color);
  cursor: pointer;
}

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  background: var(--secondary-color);
  width: 100%;
  transform: scale(1, 0);
  transition: transform 400ms ease-in-out;
  transform-origin: top;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--accent-color);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
